.navbar-container {
    max-width: 900px;
    margin: auto;
    &__logo {
        width: 20px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__item {
            text-decoration: none;
            color: white;
            list-style: none;
            padding-inline: 10px;

            li {
                width: max-content;
            }
        }

    }
}